package template

import (
	"github.com/timenglesf/personal-site/ui/template/partials"
)

templ Base(title string, isAdmin bool, page templ.Component) {
	<html>
		<head>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/dist/styles.css"/>
			// <script defer src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
		</head>
		<body>
			@partials.PageHeader(isAdmin)
			@page
		</body>
	</html>
}
