package pages

import "github.com/timenglesf/personal-site/internal/shared"

// import "github.com/timenglesf/personal-site/internal/shared"
templ Index(data *shared.TemplateData) {
	<h2>This is some content filler</h2>
}
